.buttons {
  background-color: #7579e7;
  height: 40px;
  padding: 10px;
  color: white;
  text-align: center;
  border: none;
  cursor: pointer;
  width: 100%;
  text-transform: uppercase;
  border-radius: 2px;
  margin-bottom: 5px;
}

.buttons:focus {
  border: none;
  outline: none;
}
