.chatroom-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 30% 73.2%;
}

.chatroom-container .chats {
  width: 100%;
  height: 100%;
  padding: 10px;
  overflow-y: auto;
}

.chatroom-heading {
  text-align: center;
  margin: 0;
}

.chats .chat {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70px;
  padding: 10px;
  margin-top: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16), 0 2px 2px rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  cursor: pointer;
}

.chat .chatroom-user-image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 20px;
}
